:root {
    --cor-fundo: #001d37;
    --cor-principal: #1e0053;
    --cor-secundaria: rgb(0, 6, 49);
    --cor-destaque: #ffffff;
    --cor-texto: #ffffff;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var;(--cor-principal);
    widht: 90%;
    text-alight: center;
    padding: 20px;
}

h1{
    color: var(--cor-destaque);
}