:root {
    --cor-fundo: #045ba7;
    --cor-principal: #0213ab;
    --cor-secundaria: #091caf;
    --cor-destaque: #000000;
    --cor-texto: #000000;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}